@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #ffffff;
  --color-bg-gray: #f5f5f5;
  --color-hover: #f0f0f0;
  --color-border: #d4d4d4;
  --color-disable: #bfbfbf;
  --color-gray: rgba(0, 0, 0, 0.6);
}

:root.dark {
  --color-bg: #141414;
  --color-bg-gray: #1d1d1d;
  --color-hover: #313131;
  --color-border: #3a3a3a;
  --color-disable: #565656;
  --color-gray: rgba(255, 255, 255, 0.6);
}

.ant-tabs,
.ant-tabs .ant-tabs-content,
.ant-tabs .ant-tabs-tabpane {
  height: 100%;
}

.ant-menu-light.ant-menu-root.ant-menu-inline,
.ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-inline-end: 0;
}

.ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 0;
}

.ant-modal .ant-modal-content:has(.ant-tabs) {
  padding-top: 4px;
}

/* 滚动槽 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
