@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.ant-tabs,
.ant-tabs .ant-tabs-content,
.ant-tabs .ant-tabs-tabpane {
  height: 100%;
}

:where(.css-dev-only-do-not-override-1dgrbo1).ant-collapse > .ant-collapse-item:last-child,
:where(.css-dev-only-do-not-override-1dgrbo1).ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 0;
}

/* 滚动槽 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
